body{
    margin: 0px;
    font-family: Verdana;
}

#navbar {
    background-color: cornflowerblue;
    padding: 10px;
}


#gamecontainer {
    padding: 10px;

    margin: 20px;

    height: 100%;

    
}

.gamediv {
    border: 2px solid #73AD21;
    border-radius: 10px;
    width: 350px;

}

#homepageLink{
    font-size: 50px;
    color: black;
    padding: 20px;

}

#ButtonSignOut{
    padding: 20px;
    text-align: right;
}

a{
    text-decoration: none;
}

img{
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}