body {
    margin: 0px;
    padding: 0px;
    background-image: url(media/wallpaper.png);
}

#navbar {
    background-color: cornflowerblue;
    padding: 10px;
}

#homepageLink {
    font-size: 50px;
    color: black;
    padding: 20px;
    text-decoration: none;
}

#signout {
    font-size: 30px;
    font-family: Verdana;
    text-align: right;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 5%;
    left: 90%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#gamecontainer {
    border-radius: 25px;
    border: 4px solid #73AD21;
    margin: 20px;
    background-color: #eee;
}
